/DmsWeb.suo
/DmsWeb/vwd.webinfo
/DmsWeb/Bin/vssver2.scc
/DmsWeb/Bin/Engine.dll
/DmsWeb/Bin/Engine.pdb
/DmsWeb/Bin/Engine.xml
/DmsWeb/Bin/Linq.dll
/DmsWeb/Bin/Linq.pdb
/DmsWeb/Bin/Linq.xml
/DmsWeb/Bin/LinqWS.dll
/DmsWeb/Bin/LinqWS.pdb
/DmsWeb/Bin/LinqWS.xml
/DmsWeb/Bin/MycustomDG.dll
/DmsWeb/Bin/MycustomDG.dll.refresh
/DmsWeb/Bin/Para.dll
/DmsWeb/Bin/Para.pdb
/DmsWeb/Bin/Para.xml
/Func/obj
/Func/bin
/Linq/obj
/Linq/bin
/LinqWS/obj
/LinqWS/bin
/Para/obj
/Para/bin
/TestSendFileToWebService/obj
/TestSendFileToWebService/bin
/WebServiceDms/obj
/WebServiceDms/bin
