/DmsWeb.suo
/DmsWeb/vwd.webinfo
/DmsWeb/Bin/vssver2.scc
/DmsWeb/Bin/Engine.dll
/DmsWeb/Bin/Engine.pdb
/DmsWeb/Bin/Engine.xml
/DmsWeb/Bin/Linq.dll
/DmsWeb/Bin/Linq.pdb
/DmsWeb/Bin/Linq.xml
/DmsWeb/Bin/LinqWS.dll
/DmsWeb/Bin/LinqWS.pdb
/DmsWeb/Bin/LinqWS.xml
/DmsWeb/Bin/MycustomDG.dll
/DmsWeb/Bin/MycustomDG.dll.refresh
/DmsWeb/Bin/Para.dll
/DmsWeb/Bin/Para.pdb
/DmsWeb/Bin/Para.xml
/Func/obj
/Func/bin
/Linq/obj
/Linq/bin
/LinqWS/obj
/LinqWS/bin
/Para/obj
/Para/bin
/TestSendFileToWebService/obj
/TestSendFileToWebService/bin
/WebServiceDms/obj
/WebServiceDms/bin
/BOIDataConversion/BOIDataConversion/bin/Debug/BOIDataConversion.exe
/BOIDataConversion/BOIDataConversion/bin/Debug/BOIDataConversion.pdb
/BOIDataConversion/BOIDataConversion/bin/Debug/BOIDataConversion.vshost.exe
/BOIDataConversion/BOIDataConversion/bin/Debug/BOIDataConversion.vshost.exe.manifest
/BOIDataConversion/BOIDataConversion/bin/Debug/BOIDataConversion.xml
/BOIDataConversion/BOIDataConversion/bin/Debug/02556011120.log
/BOIScanSource/120724ScannerTest/bin/BOIScan.exe
/BOIScanSource/120724ScannerTest/bin/BOIScan.exe.config
/BOIScanSource/120724ScannerTest/bin/BOIScan.pdb
/BOIScanSource/120724ScannerTest/bin/BOIScan.vshost.exe
/BOIScanSource/120724ScannerTest/bin/BOIScan.vshost.exe.config
/BOIScanSource/120724ScannerTest/bin/BOIScan.vshost.exe.manifest
/BOIScanSource/120724ScannerTest/bin/BOIScan.vshost.sln
/BOIScanSource/120724ScannerTest/bin/BOIScan.vshost.suo
/BOIScanSource/120724ScannerTest/bin/BOIScan.xml
/BOIScanSource/120724ScannerTest/bin/Preview.rar
